<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503388248988-re1r3bpu76q1a8ukgkh5pe9jutkvc8of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503388248988-re1r3bpu76q1a8ukgkh5pe9jutkvc8of</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503388248988-3m9t3livjabuhdtjodbe7ed67ifb304u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6E0kjmeswlPVxaQd2_xObrOR0PW66YZE</string>
	<key>GCM_SENDER_ID</key>
	<string>503388248988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locgfx.ataraxis.ataraxis</string>
	<key>PROJECT_ID</key>
	<string>ataraxis-b8eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>ataraxis-b8eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503388248988:ios:2908a79ed3c2b000360659</string>
</dict>
</plist>